body {
	background-color: black;
	color: white;
}

path, line {
	fill: none;
	stroke: black;
}

#chartContainer {
	width: 800px;
	height: 800px;
	display: block;
	margin: 0 auto;
	margin-bottom: 50px;
	margin-top: 150px;
	border: 1px solid black;
	background-color: white;
	color: black;
}

#chart .links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

#chart .nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

.links line {
  stroke: #000;
  stroke-opacity: 0.6;
	stroke-width: 2;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

