body {
	background-color: white;
	color: orange;
	width: 1500px;
	height: 1000px;
}


#chartContainer {
	width: 1000px;
	height: 800px;
	display: block;
	margin: 0 auto;
	margin-bottom: 50px;
	margin-top: 150px;
	border: 1px solid black;
	fill: black;
}

.tip-box {
	fill: rgba(0,0,0,0.9);	
	border: 2px solid #fff;
}

.tip-text {
	fill: #fff;
	font-weight: bold;
	font-size: 1.1em;
}

/*
line {
  stroke: #fff;
}

.node {
  pointer-events: all;
}

circle {
  stroke: none;
  stroke-width: 40px;
}

.node text {
  font: 8px sans-serif;
}
*/

    line {
  stroke: #666;
}

.node {
  pointer-events: all;
}

circle {
  stroke: none;
  stroke-width: 40px;
}

.node text {
  font: 8px sans-serif;
}