body {
	background-color: white;
	color: black;
}

path, line {
	fill: none;
	stroke: black;
}

#chart {
	display: block;
	margin: 0 auto;
	padding: 100px;
	margin-bottom: 100px;
	margin-top: 50px;
	border: 1px solid black;
}