/*body {
	/*background-color: black;
	color: white;
}


#chartContainer {
	width: 1000px;
	height: 800px;
	display: block;
	margin: 0 auto;
	margin-bottom: 50px;
	margin-top: 150px;
	border: 1px solid black;
	background-color: white;
	color: black;
}


line {
  stroke: #fff;
}

.node {
  pointer-events: all;
}

circle {
  stroke: none;
  stroke-width: 40px;
}

.node text {
  font: 8px sans-serif;
}
*/

    line {
  stroke: #666;
}

.node {
  pointer-events: all;
}

circle {
  stroke: none;
  stroke-width: 40px;
}

.node text {
  font: 8px sans-serif;
}